<!DOCTYPE html>

<html>
    <head>
        <title>vaphollywood</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link  rel="stylesheet" href= "../../assents/css/estilos.css"/>
        <link  rel="stylesheet" href= "../../assents/css/estilos2.css"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        
    </head>
    <body>
        
     
     
        <div class="contenedor">    
            
        <div class="logo">
        <center>
            <a href="index.html">
                <img class="imglogo"src="../../assents/img/logo.jpg" width="600" height="250"/>
         </center>
           
           
            </div>
        
        </div>
        
        
        
        <center>
             <div class="contenedor">  
        <div class="ins-whats">
            <p class="intro"> <b> Contáctanos: </b>  </p>
            <a href="https://www.instagram.com/vaperhollywood/" target="_blank" >   
                <img class="ins1" src="../../assents/img/logoinstagram.png" width="40" height="40" class="img-fluid" >
             
            </a>
            <a href="https://api.whatsapp.com/send?phone=1158263065" target="_blank">
             <img class="wts2" src="../../assents/img/whatsapp.png" width="45" height="45" class="img-fluid" >  
             </a>
            </div> 
            </div>      
         </center>
         
             <br>
        <br>
        
        <br>
        <br>
          
        <div class="contenedor">
        <div class="titulo ">
              <center>
                <p class="lines-effects"> 
               <b>Todo lo que necesitas para tu vapeo </b>
              </p> 
              </center> 
          </div>
         </div>
          
           
        <div class="whatsapp">
                <a href="https://api.whatsapp.com/send?phone=1158263065" target="_blank">
                <img src="../../assents/img/whatsapp.png"  width="75" height="75" class="img-fluid" >
                
                </a>
            </div>
            <br>
        <br>     
           
             
                
            <div class="titulo">
              <center>
                  <p> 
               <b> Accesorios </b>
              </p> 
              </center>
          </div>
             <div class="liquidos">
                
                <center>
                 
                  <p> - Bateria Efest 18650. X2. 3000 mAh. 3,7v -
</p>
                  <br>
                  
                  <img src="../../assents/img/batefest.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $9,33
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
                   <p> - Cargador Vapcell Q4. Compatibilidad con baterías únicamente de Litio- -
</p>
                  <br>
                  
                  <img src="../../assents/img/vapcell.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $12
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
             <p> - Atomizador Smok TFV8 Big Baby Tank -</p>

                  <br>
                  
                  <img src="../../assents/img/tfv8.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $6,30
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
              <p> - Atomizador RTA Singelei Moonshot 22mm -</p>

                  <br>
                  
                  <img src="../../assents/img/rta.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $13,15
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
                   <p> - Coil Master Alternativo -</p>

                  <br>
                  
                  <img src="../../assents/img/coil.jpg" width="300" height="300"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $21,59
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
             
                    <p> - Prebuilt Coil -</p>

                  <br>
                  
                  <img src="../../assents/img/coilp.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
                       Flat Twisted 0,36 ohm <br>
                       Tiwisted 0,6 ohm <br>
                       Hive 0,5 ohm <br>
                       Clapton 0,4 ohm<br><br>
 	                10 unidades. $1
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                    <p> - Demon Killer -</p>

                  <br>
                  
                  <img src="../../assents/img/demon.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $3,70
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   <p> - Resistencia Smok Prince - Caja X 3 unidades -</p>

                  <br>
                  
                  <img src="../../assents/img/prince.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $8,80
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                    
                   <p> - Resistencia pen 22 - Caja x 5 unidades -</p>

                  <br>
                  
                  <img src="../../assents/img/rpen.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $8,05
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
                   <p> - Vidrios Pyrex Pen 22, V8, Prince, Ijust 3, <br>
                       Little 40, tfv12 baby prince, vf12 cloud best king , tfv8
-</p>

                  <br>
                  
                  <img src="../../assents/img/vidriop.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $1,35
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   <p> - Acrilico Sky plus, Zeuz x, Prince -</p>

                  <br>
                  
                  <img src="../../assents/img/vidriop.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $2,60
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
                   </center>
        
            </div> 
             
                     <div class="titulo">
              <center>
                  <p> 
               <b>Gracias por visitarnos </b>
              </p> 
              </center>
          </div>
             
             
             <header>
                  <nav>  
                  <center>
                   <ul class="menufinal">  
                       
                       <li><a href="https://www.instagram.com/vaperhollywood/"> @vaperhollywood </a> </li>  
                       <li><a href="vapeadores.html"> Vapeadores </a> </li>  
                       <li><a href="liquidos1.html"> Liquidos </a> </li>  
                       <li><a href="descartables.html"> Descartables </a> </li>  
                       <li><a href="accesorios.html"> Accesorios </a> </li>   
                   </center>
                  </nav>
                 <br>
             <br>
             <br>
             <br>      
               </header>
          
                   
                   
                   </a>
   
</div>
            </center>   
        </body>
</html>
