<!DOCTYPE html>


<html>
    <head>
        <title>vaphollywood</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link  rel="stylesheet" href= "../../assents/css/estilos.css"/>
        <link  rel="stylesheet" href= "../../assents/css/estilos2.css"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        
    </head>
    <body>
        
     
     
        <div class="contenedor">    
            
        <div class="logo">
        <center>
            <a href="index.html">
                <img class="imglogo"src="../../assents/img/logo.jpg" width="600" height="250"/>
         </center>
           
           
            </div>
        
        </div>
        
        
        
        <center>
             <div class="contenedor">  
        <div class="ins-whats">
            <p class="intro"> <b> Contáctanos: </b>  </p>
            <a href="https://www.instagram.com/vaperhollywood/" target="_blank" >   
                <img class="ins1" src="../../assents/img/logoinstagram.png" width="40" height="40" class="img-fluid" >
             
            </a>
            <a href="https://api.whatsapp.com/send?phone=1158263065" target="_blank">
             <img class="wts2" src="../../assents/img/whatsapp.png" width="45" height="45" class="img-fluid" >  
             </a>
            </div> 
            </div>      
         </center>
         
             <br>
        <br>
        
        <br>
        <br>
          
        <div class="contenedor">
        <div class="titulo ">
              <center>
                <p class="lines-effects"> 
               <b>Todo lo que necesitas para tu vapeo </b>
              </p> 
              </center> 
          </div>
         </div>
          
           
        <div class="whatsapp">
                <a href="https://api.whatsapp.com/send?phone=1158263065" target="_blank">
                <img src="../../assents/img/whatsapp.png"  width="75" height="75" class="img-fluid" >
                
                </a>
            </div>
            <br>
        <br>     
           
             
           
          
       
       
       </a>
   
            <br>
     
           <br>
   
           
               
           <div class="categorias">
        <center>
        
      <h1> <a href="vapeadores.html"  > Vapeadores  </a> </h1>
      <h1>  <a href="accesorios.html"  > Accesorios </a> </h1>
      <h1>  <a href="liquidos1.html"  > Liquidos  </a> </h1>
      <h1>  <a href="descartables.html"  > Descartables  </a> </h1>
      
      
       </center>
            <br>
        <br>
        <br>    
        <br>
        <br> 
        </div>
           <div class="logo2">
        <center>
            
            <img class="imglogo2"src="../../assents/img/logo2.jpeg" width="400" height="400"/>
         </center>
           
           
            </div>
               
       
           
               <br>
        <br>
        <br>
        <br>
        <br>
         
        <div class="titulo">
            
              <center>
                  <p> 
               <b>Productos Destacados </b>
              </p> 
              </center>
          </div>
                     
             <br>
                   <br>
            
            <div class="liquidos">
                
                <center>
            
             
                   <p> -Pod Renova Zero - </p>
                  <br>
                  
                  <img src="../../assents/img/podrenova.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $20
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>     
                   
                   <p> -  Grenco Pro - </p>
                  <br>
                  
                  <img src="../../assents/img/grenco.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                      - Vaporizador Herbal -

                       
                       <br>
 	                
                        <br>
                        $16
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
           
                   <p> - Pod Descartable Fume 2500 Puffs -</p>
                  <br>
                  
                  <img src="../../assents/img/puffs.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> - Menta - Frutilla - Durazno a la crema - Cotton Candy - Rainbow Candy (Gomitas dulces) -
                       
                        <br>
                        <br>
                       <br>
 	                $12,50
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
                   <p> - Pod Descartable HQD -</p>
                  <br>
                  
                  <img src="../../assents/img/hqd.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> - Black Ice - Grape   - Durazno a la crema - Purple Rain  - Lush Ice - <br>
                       
                     - Blueberry Raspberry - Raspberry Watermelon - 
                        <br>
                        <br>
                       
                       <br>
 	                $19
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   <p> Vapetasia </p>
               <br>
               <img src="../../assents/img/vapena.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                -Pineapple express - Killer Custard - Rainbow road - </p> 
                <br>
               <p> 100ml - $6 </p>
               
                <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Liquido nktr </p>
               <br>
               <img src="../../assents/img/nkrt.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                -Tabaco - Pera - </p> 
                <br>
               <p> 120ml - $4,20</p>
               
                <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> The Custard Shoppe </p>
               <br>
               <img src="../../assents/img/The-Custard.jpg" width="300" height="250"/>
               <br>
               
               <p> 
                -Raspberry-  </p> 
               <br>
              <p> El sabor a postre más buscados en toda la industria del vapeo.</p> 
                <br>
               <p> 100ml - $4</p>
                <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Loaded </p>
               <br>
               <img src="../../assents/img/loaded.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Glazed Donuts - Strawberry Jelly Donut - Cran Apple Juice - </p> 
                <br>
               <p> 100ml - $4</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Air Factory </p>
               <br>
               <img src="../../assents/img/air factory.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Melon Lush - Tropic Freeze - </p> 
                <br>
               <p> 100ml - $4</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Mr Freeze </p>
               <br>
               <img src="../../assents/img/mr freeze.png" width="250" height="250"/>
               <br>
               
               <p> 
                - Watermelon Frost - </p> 
                <br>
               <p> 100ml - $4</p>
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Joy Gizmo </p>
               <br>
               <img src="../../assents/img/joy.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Cereza, Anana y Lima - </p> 
                <br>
               <p> 120ml - $4,20</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
                   <p> Milky Cones</p>
                  <br>
                  
                  <img src="../../assents/img/milky-cones.png" width="250" height="250"/>
                  <br>
                  
                   <p> - Strawberry Shortcake 
                       
                       - Cookies and Cream 
                       
                       - Vainilla Bean -
                       <br>
 	                -60ML	     $2,60 
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   </center>
        
            </div> 
              
             <div class="titulo">
              <center>
                  <p> 
               <b>Gracias por visitarnos </b>
              </p> 
              </center>
          </div>
             <br>
             
             <header>
                  <nav>  
                  <center>
                   <ul class="menufinal">  
                       
                       <li><a href="https://www.instagram.com/vaperhollywood/"> @vaperhollywood </a> </li>  
                       <li><a href="vapeadores.html"> Vapeadores </a> </li>  
                       <li><a href="liquidos1.html"> Liquidos </a> </li>  
                       <li><a href="descartables.html"> Descartables </a> </li>  
                       <li><a href="accesorios.html"> Accesorios </a> </li>  
                   </center>
                  </nav>
                 <br>
             <br>
             <br>
             <br>      
               </header>
             
    </body>
</html>
