<!DOCTYPE html>


<html>
    <head>
        <title>vaphollywood</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link  rel="stylesheet" href= "../../assents/css/estilos.css"/>
        <link  rel="stylesheet" href= "../../assents/css/estilos2.css"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        
    </head>
    <body>
        
     
     
        <div class="contenedor">    
            
        <div class="logo">
        <center>
            <a href="index.html">
                <img class="imglogo"src="../../assents/img/logo.jpg" width="600" height="250"/>
         </center>
           
           
            </div>
        
        </div>
        
        
        
        <center>
             <div class="contenedor">  
        <div class="ins-whats">
            <p class="intro"> <b> Contáctanos: </b>  </p>
            <a href="https://www.instagram.com/vaperhollywood/" target="_blank" >   
                <img class="ins1" src="../../assents/img/logoinstagram.png" width="40" height="40" class="img-fluid" >
             
            </a>
            <a href="https://api.whatsapp.com/send?phone=1158263065" target="_blank">
             <img class="wts2" src="../../assents/img/whatsapp.png" width="45" height="45" class="img-fluid" >  
             </a>
            </div> 
            </div>      
         </center>
         
             <br>
        <br>
        
        <br>
        <br>
          
        <div class="contenedor">
        <div class="titulo ">
              <center>
                <p class="lines-effects"> 
               <b>Todo lo que necesitas para tu vapeo </b>
              </p> 
              </center> 
          </div>
         </div>
          
           
        <div class="whatsapp">
                <a href="https://api.whatsapp.com/send?phone=1158263065" target="_blank">
                <img src="../../assents/img/whatsapp.png"  width="75" height="75" class="img-fluid" >
                
                </a>
            </div>
            <br>
        <br>     
           
             
                
        
        <div class="titulo">
              <center>
                  <p> 
               <b>Liquidos </b>
              </p> 
              </center>
          </div>
             <br>
            
            <div class="liquidos">
                
                <center>
                 
                  <p> Milky Cones</p>
                  <br>
                  
                  <img src="../../assents/img/milky-cones.png" width="250" height="250"/>
                  <br>
                  
                   <p> - Strawberry Shortcake 
                       
                       - Cookies and Cream 
                       
                       - Vainilla Bean -
                       <br>
 	                -60ML	     $2,60 
                        <br>
                        
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   <p> Sales Nicotina Candi King</p>
                   <br>
                  
                  <img src="../../assents/img/candy king.jpg" width="250" height="200"/>
                  <br>
                  
                   <p> Frutilla - Durazno - Limón
                       <br>
 	                -30ML	     $3 
                 
                
                    <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                <p> Liquido Nasty Cush Man </p>
                   <br>
                   <img src="../../assents/img/nastyl.jpg"width="250" height="250" />
                   <br>
                <p> - Mango - Banana - </p>
                    <br>
               <p> 60ml - $2,75 </p>
             
                    <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Vapetasia </p>
               <br>
               <img src="../../assents/img/vapena.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                -Pineapple express - Killer Custard - Rainbow road -</p> 
                <br>
               <p> 100ml - $6 </p>
               
                <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Liquido nktr </p>
               <br>
               <img src="../../assents/img/nkrt.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Tabaco - Pera - </p> 
                <br>
               <p> 120ml - $4,20</p>
               
                <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> The Custard Shoppe </p>
               <br>
               <img src="../../assents/img/The-Custard.jpg" width="300" height="250"/>
               <br>
               
               <p> 
                -Raspberry-  </p> 
               <br>
              <p> El sabor a postre más buscados en toda la industria del vapeo.</p> 
                <br>
               <p> 100ml - $4</p>
                <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Loaded </p>
               <br>
               <img src="../../assents/img/loaded.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Glazed Donuts - Strawberry Jelly Donut - Cran Apple Juice - </p> 
                <br>
               <p> 100ml - $4</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Air Factory </p>
               <br>
               <img src="../../assents/img/air factory.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Melon Lush - Tropic Freeze - </p> 
                <br>
               <p> 100ml - $4</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Mr Freeze </p>
               <br>
               <img src="../../assents/img/mr freeze.png" width="250" height="250"/>
               <br>
               
               <p> 
                - Watermelon Frost - </p> 
                <br>
               <p> 100ml - $4</p>
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Joy Gizmo </p>
               <br>
               <img src="../../assents/img/joy.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Cereza, Anana y Lima - </p> 
                <br>
               <p> 120ml - $4,20</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Pop Corn Man  </p>
               <br>
               <img src="../../assents/img/porcorn.jpg" width="350" height="250"/>
               <br>
               
               <p> 
                - Strawberry Drizzle - Birthday Cake - </p> 
                <br>
               <p> 60ml - $2,60</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Dinner Lady  </p>
               <br>
               <img src="../../assents/img/dinner.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Rice Pudding - Orange Tart - Cornflake Tart - Blackberry Crumble -  Apple Pie - </p> 
                <br>
               <p> 60ml - $2,60</p>
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Cosmic Fog </p>
               <br>
               <img src="../../assents/img/cosmic.jpg" width="350" height="250"/>
               <br>
               
               <p> 
               - Milk y Honey - Cosmic Fog Nutz - Euphoria - Dapple -   </p> 
                <br>
               <p> 30ml - $1,50</p>
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Kilo </p>
               <br>
               <img src="../../assents/img/kilo.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Kiberry Yogurt -  Cereal Milk - Dewberry Cream -  </p> 
                <br>
               <p> 30ml - $1,50</p>
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Cloud Ninners  </p>
               <br>
               <img src="../../assents/img/cloudn.png" width="250" height="250"/>
               <br>
               
               <p> 
                - Frutilla  - Naranja - Melocoton - Piña - Mango - Grosella -  </p> 
                <br>
               <p> 55ml - $1,80</p>
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Fantasi ice  </p>
               <br>
               <img src="../../assents/img/fantaice.jpg" width="300" height="250"/>
               <br>
               
               <p> 
                - Naranaja - Mango - Uva - Cereza - Ananá - Blueberry -  </p> 
                <br>
               <p> 60ml - $2,75</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Cream Team </p>
               <br>
               <img src="../../assents/img/creamteam.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Buttercream -  Cinnaroll - Napolitano - </p> 
                <br>
               <p> 100ml - $4</p>
               
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Dion </p>
               <br>
               <img src="../../assents/img/dion.jpg" width="350" height="250"/>
               <br>
               
               <p> 
                - Tabacco - American Blue Tobacco - Diplomático - American Classic Tobacco - </p> 
                <br>
               <p> 120ml - $4,20</p>
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
               <p> Milkman Pudding </p>
               <br>
               <img src="../../assents/img/milkman.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Budin de Vainilla  -  Frutilla -  Moonies de Milkman - Churrios de The Milkman - </p> 
               <p> - Tarta de frutas con helado de Vainilla - The Milkman  Milky Os -   </p> 
                <br>
               <p> 120ml - $4</p>
               
                <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
               <p> Pacha Mama </p>
               <br>
               <img src="../../assents/img/pacha.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Mango Pitaya -  Strawberry Guava -  Peach Papaya  - </p> 
                <br>
               <p> 60ml - $2,60</p>
               <br>
                    <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
               <p> Bazooka </p>
               <br>
               <img src="../../assents/img/bazo.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Mango Tango - Rainbow - </p> 
                <br>
               <p> 100ml - $2,60</p>
                  <br>
                  
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
               <p> Cloud Breakers </p>
               <br>
               <img src="../../assents/img/milkbox.jpg" width="250" height="250"/>
               <br>
               
               <p> 
                - Chocolate - Melon  - Mango -   </p> 
                <br>
               <p> 60ml - $2,60</p>
            </div>
            </center>   
                <br>
              <br>
                   <hr>
                  <br>
                   <br>
                   </center>
        
            </div> 
                
                <div class="titulo">
              <center>
                  <p> 
               <b>Gracias por visitarnos </b>
              </p> 
              </center>
          </div>
             
             
             <header>
                  <nav>  
                  <center>
                   <ul class="menufinal">  
                       
                       <li><a href="https://www.instagram.com/vaperhollywood/"> @vaperhollywood </a> </li>  
                       <li><a href="vapeadores.html"> Vapeadores </a> </li>  
                       <li><a href="liquidos1.html"> Liquidos </a> </li>  
                       <li><a href="descartables.html"> Descartables </a> </li>  
                       <li><a href="accesorios.html"> Accesorios </a> </li>   
                   </center>
                  </nav>
                 <br>
             <br>
             <br>
             <br>      
               </header>
             
        </body>
</html>

            
            