<!DOCTYPE html>

<html>
    <head>
        <title>vaphollywood</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <link  rel="stylesheet" href= "../../assents/css/estilos.css"/>
        <link  rel="stylesheet" href= "../../assents/css/estilos2.css"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        
    </head>
    <body>
        
     
     
        <div class="contenedor">    
            
        <div class="logo">
        <center>
            <a href="index.html">
                <img class="imglogo"src="../../assents/img/logo.jpg" width="600" height="250"/>
         </center>
           
           
            </div>
        
        </div>
        
        
        
        <center>
             <div class="contenedor">  
        <div class="ins-whats">
            <p class="intro"> <b> Contáctanos: </b>  </p>
            <a href="https://www.instagram.com/vaperhollywood/" target="_blank" >   
                <img class="ins1" src="../../assents/img/logoinstagram.png" width="40" height="40" class="img-fluid" >
             
            </a>
            <a href="https://api.whatsapp.com/send?phone=1158263065" target="_blank">
             <img class="wts2" src="../../assents/img/whatsapp.png" width="45" height="45" class="img-fluid" >  
             </a>
            </div> 
            </div>      
         </center>
         
             <br>
        <br>
        
        <br>
        <br>
          
        <div class="contenedor">
        <div class="titulo ">
              <center>
                <p class="lines-effects"> 
               <b>Todo lo que necesitas para tu vapeo </b>
              </p> 
              </center> 
          </div>
         </div>
          
           
        <div class="whatsapp">
                <a href="https://api.whatsapp.com/send?phone=1158263065" target="_blank">
                <img src="../../assents/img/whatsapp.png"  width="75" height="75" class="img-fluid" >
                
                </a>
            </div>
            <br>
        <br>     
           
             
                
            <div class="titulo">
              <center>
                  <p> 
               <b> Vapeadores </b>
              </p> 
              </center>
          </div>
             <div class="liquidos">
                
                <center>
                 
                  <p> -Vaporesso Sky - (solo Plus Original)</p>
                  <br>
                  
                  <img src="../../assents/img/vaporesso.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $25
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
             
                   <p> -Pod Renova Zero - </p>
                  <br>
                  
                  <img src="../../assents/img/podrenova.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $20
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
             
                    <p> - Pod Clon Smok Nord Kit - </p>
                  <br>
                  
                  <img src="../../assents/img/smoknord.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                       
                       
                       <br>
 	                $15
                        <br>
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
              
                   <p> - Istick Pico - </p>
                  <br>
                  
                  <img src="../../assents/img/pico.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                      - Kit de piel para su Eleaf iStick pico 75 y no incluye la propia vape -

                       
                       <br>
 	                
                        <br>
                        $20
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
             
                    <p> - Smok Kit - </p>
                  <br>
                  
                  <img src="../../assents/img/SMOKKIT.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                      - Kit de Inicio Vape Pen 22 Light Edition -

                       
                       <br>
 	                
                        <br>
                        $12,50
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   
                   
             <p> -  Grenco Pro - </p>
                  <br>
                  
                  <img src="../../assents/img/grenco.jpg" width="250" height="250"/>
                  <br>
                  
                   <p> 
                      - Vaporizador Herbal -

                       
                       <br>
 	                
                        <br>
                        $16
                        <br>
                   </p>
                   
                   <br>
                   <hr>
                  <br>
                   <br>
                   </center>
        
            </div> 
             
                
                <div class="titulo">
              <center>
                  <p> 
               <b>Gracias por visitarnos </b>
              </p> 
              </center>
          </div>
             
             
             <header>
                  <nav>  
                  <center>
                   <ul class="menufinal">  
                       
                       <li><a href="https://www.instagram.com/vaperhollywood/"> @vaperhollywood </a> </li>  
                       <li><a href="vapeadores.html"> Vapeadores </a> </li>  
                       <li><a href="liquidos1.html"> Liquidos </a> </li>  
                       <li><a href="descartables.html"> Descartables </a> </li>  
                       <li><a href="accesorios.html"> Accesorios </a> </li>   
                   </center>
                  </nav>
                 <br>
             <br>
             <br>
             <br>      
               </header>
          
       
       
       </a>
   
</div>
            </center>   
        </body>
</html>
